{% extends "base.html" %}

{% block content %}

<h1>Students Database</h1>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>COURSE</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students_records %}

        <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}